<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance http://www.springmodules.org/schema/cache/springmodules-cache.xsd http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd 
"
	version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name />
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	 <listener>      <listener-class>util.SessionListener</listener-class>   
		</listener> 


	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- web服务servlet -->
	<servlet>
		<servlet-name>wLogin</servlet-name>
		<servlet-class>webServiceServlet.WLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wRegister</servlet-name>
		<servlet-class>webServiceServlet.WRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wModifyEmployeeInfo</servlet-name>
		<servlet-class>webServiceServlet.WModifyEmployeeInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wCreateNewGuest</servlet-name>
		<servlet-class>webServiceServlet.WCreateNewGuestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wDisplayEmployeeInfo</servlet-name>
		<servlet-class>webServiceServlet.WDisplayEmployeeInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wModifyGuestInfo</servlet-name>
		<servlet-class>webServiceServlet.WModifyGuestInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wAddtoGuestList</servlet-name>
		<servlet-class>webServiceServlet.WAddtoGuestListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wDisplayVisitingRecord</servlet-name>
		<servlet-class>webServiceServlet.WDisplayVisitingRecordServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>wSearchGuest</servlet-name>
		<servlet-class>webServiceServlet.WSearchGuestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wDeleteFromGuestList</servlet-name>
		<servlet-class>webServiceServlet.WDeleteFromGuestListServlet</servlet-class>
	</servlet>

	<!-- android 服务servlet -->

	<servlet>
		<servlet-name>aLogin</servlet-name>
		<servlet-class>androidServiceServlet.ALoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aRegister</servlet-name>
		<servlet-class>androidServiceServlet.ARegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aModifyEmployeeInfo</servlet-name>
		<servlet-class>androidServiceServlet.AModifyEmployeeInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aCreateNewGuest</servlet-name>
		<servlet-class>androidServiceServlet.ACreateNewGuestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aDisplayEmployeeInfo</servlet-name>
		<servlet-class>androidServiceServlet.ADisplayEmployeeInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aModifyGuestInfo</servlet-name>
		<servlet-class>androidServiceServlet.AModifyGuestInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aAddtoGuestList</servlet-name>
		<servlet-class>androidServiceServlet.AAddtoGuestListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aDisplayVisitingRecord</servlet-name>
		<servlet-class>androidServiceServlet.ADisplayVisitingRecordServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>aSearchGuest</servlet-name>
		<servlet-class>androidServiceServlet.ASearchGuestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aDeleteFromGuestList</servlet-name>
		<servlet-class>androidServiceServlet.ADeleteFromGuestListServlet</servlet-class>
	</servlet>
	<!-- web/android 共用服务servlet -->
	<servlet>
		<servlet-name>PushMessage</servlet-name>
		<servlet-class>commonServiceServlet.PushMessageServlet</servlet-class>
		<asyncSupported>true</asyncSupported>
	</servlet>
	<servlet>
		<servlet-name>PrepareForPushServlet</servlet-name>
		<servlet-class>commonServiceServlet.PrepareForPushServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>WLogoutServlet</servlet-name>
    <servlet-class>webServiceServlet.WLogoutServlet</servlet-class>
  </servlet>


	<!-- web服务url -->
	<servlet-mapping>
		<servlet-name>wLogin</servlet-name>
		<url-pattern>/servlet/WLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wRegister</servlet-name>
		<url-pattern>/servlet/WRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wModifyEmployeeInfo</servlet-name>
		<url-pattern>/servlet/WModifyEmployeeInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wCreateNewGuest</servlet-name>
		<url-pattern>/servlet/WCreateNewGuestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wDisplayEmployeeInfo</servlet-name>
		<url-pattern>/servlet/WDisplayEmployeeInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wModifyGuestInfo</servlet-name>
		<url-pattern>/servlet/WModifyGuestInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wAddtoGuestList</servlet-name>
		<url-pattern>/servlet/WAddtoGuestListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wDisplayVisitingRecord</servlet-name>
		<url-pattern>/servlet/WDisplayVisitingRecordServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>wSearchGuest</servlet-name>
		<url-pattern>/servlet/WSearchGuestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wDeleteFromGuestList</servlet-name>
		<url-pattern>/servlet/WDeleteFromGuestListServlet</url-pattern>
	</servlet-mapping>
	<!-- android 服务url -->
		<servlet-mapping>
		<servlet-name>aLogin</servlet-name>
		<url-pattern>/servlet/ALoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aRegister</servlet-name>
		<url-pattern>/servlet/ARegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aModifyEmployeeInfo</servlet-name>
		<url-pattern>/servlet/AModifyEmployeeInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aCreateNewGuest</servlet-name>
		<url-pattern>/servlet/ACreateNewGuestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aDisplayEmployeeInfo</servlet-name>
		<url-pattern>/servlet/ADisplayEmployeeInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aModifyGuestInfo</servlet-name>
		<url-pattern>/servlet/AModifyGuestInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aAddtoGuestList</servlet-name>
		<url-pattern>/servlet/AAddtoGuestListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aDisplayVisitingRecord</servlet-name>
		<url-pattern>/servlet/ADisplayVisitingRecordServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>aSearchGuest</servlet-name>
		<url-pattern>/servlet/ASearchGuestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aDeleteFromGuestList</servlet-name>
		<url-pattern>/servlet/ADeleteFromGuestListServlet</url-pattern>
	</servlet-mapping>
	<!-- web/android 共用服务url -->
	<servlet-mapping>
		<servlet-name>PushMessage</servlet-name>
		<url-pattern>/servlet/PushMessageServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PrepareForPushServlet</servlet-name>
		<url-pattern>/servlet/PrepareForPushServlet</url-pattern>
	</servlet-mapping>

  <servlet-mapping>
    <servlet-name>WLogoutServlet</servlet-name>
    <url-pattern>/servlet/WLogoutServlet</url-pattern>
  </servlet-mapping>


</web-app>

